*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
}


nav .container{
    background-color: aqua;
    width: 1600px;
    margin: auto;
}

nav .row{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline-block;
}

nav ul{
    list-style-type: none;
    
}
nav ul li a{
    padding:30px 10px ;
    display: inline-block;
    color: rgb(7, 13, 19);
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

nav ul li a::after{
    content: "";
    position:absolute ;
    width: 0%;
    height: 5px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}


/*  */


nav ul li a::before{
    content: "";
    position:absolute ;
    width: 0%;
    height: 5px;
    background: black;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;

}

nav ul li a:hover::before{
    width: 100%;
}


/* 1st menu */


nav .parent{
    position: relative;
}

nav .menu{
    background-color:aqua;
    position: absolute;
    width: 300px;
    height: 400px;
    opacity: 0;
    margin-top:100px ;
    transition: 0.5s;
    visibility: hidden;
}
nav .menu li a{
    display: block;
    width: 300px;
}
nav .parent:hover .menu{
    opacity: 1;
    margin-top: 0;
    visibility: visible;
}
/* 1st menu end */

/* 2nd menu st */

nav .sub_parent{
    position: relative;
}

nav .sub_menu{
    position: absolute;
    width: 300px;
    opacity: 0;
    margin-top:100px;  
    transition: 0.5s;
    visibility: hidden;
}
nav .sub_menu  li a{
    display: block;
    width: 300px;
    left: 300px;
    background-color: aqua;
    

}
nav .sub_parent:hover .sub_menu{
    opacity: 1;
    margin-top: 0;
    visibility: visible;
}